In [4]:
# Import libraries
import pandas as pd
import io
from geopy.geocoders import Nominatim

In [5]:
# Import Cell Tower file
df = pd.read_csv('Cell_Tower.csv')

In [6]:
df.head()

    user_id        lat        lng
0  35539881 -34.063782  18.820499
1  19603336 -29.191851  27.444849
2  40292465 -26.950027  28.100788
3  26428370 -34.081173  23.065119
4  19829847 -28.773481  20.613968

In [7]:
# Funtion to get City and Coutry
geolocator = Nominatim(user_agent="geoapiExercises")
def city_country(row):
    coord = f"{row['lat']}, {row['lng']}"
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    city = address.get('city', '')
    country = address.get('country', '')
    row['city'] = city
    row['country'] = country
    return row

df = df.apply(city_country, axis=1)
print(df)

         user_id        lat        lng                            city  \
0     35539881.0 -34.063782  18.820499
1     19603336.0 -29.191851  27.444849     Mantsopa Local Municipality
2     40292465.0 -26.950027  28.100788  Metsimaholo Local Municipality
3     26428370.0 -34.081173  23.065119       Knysna Local Municipality
4     19829847.0 -28.773481  20.613968   Kai !Garib Local Municipality
...          ...        ...        ...                             ...
6322   4033111.0 -34.414188  19.296463   Overstrand Local Municipality
6323  46073981.0 -26.035767  27.848446  Mogale City Local Municipality
6324  35455566.0 -29.597031  29.957855     Impendle Local Municipality
6325  43203772.0 -25.419594  30.102758   Emakhazeni Local Municipality
6326  46002575.0 -25.664377  30.340513   Emakhazeni Local Municipality

           country
0     South Africa
1     South Africa
2     South Africa
3     South Africa
4     South Africa
...            ...
6322  South Africa
6323  South Africa
6324  South Africa
6325  South Africa
6326  South Africa

[6327 rows x 5 columns]

In [10]:
# export final file to csv
df.to_csv('df.csv')