In [50]:
#Imports
import numpy as np
import pandas as pd
import time
from datetime import date, timedelta

from google.oauth2.service_account import Credentials
import logging

from oauth2client.service_account import ServiceAccountCredentials

logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.ERROR)
from wordcloud import WordCloud
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

import sqlalchemy as db
from sqlalchemy import create_engine
import mysql.connector
import psycopg2

In [3]:
# db02 connection
engine_1 =db.create_engine('mysql+mysqlconnector://lindani.mncwabe:aV3n6MehTad0R@cpt-hq-db02-b55.hq.takealot.com:3306/supply_chain') 
connection_1 = engine_1.connect()

In [4]:
# services-12 connection
engine_2 =db.create_engine('mysql+mysqlconnector://mncedisimncwabe:L@mbh0Av3nte@hq-mysql-57-services-12.hq.takealot.com:3306/merchant_offer') 
connection_2 = engine_2.connect()

In [5]:
# services-05 connection
engine_3 =db.create_engine('mysql+mysqlconnector:// byran.titus:EZ1waiju7X@hq-mysql-57-services-05.hq.takealot.com:3306/sku') 
connection_3 = engine_3.connect()

In [6]:
# services-14 connection
engine_4 =db.create_engine('mysql+mysqlconnector://mncedisi.mncwabe:JwaeXae5tuch21ie2uH3@hq-mysql-57-services-14.hq.takealot.com:3306/deals') 
connection_4 = engine_4.connect()

In [7]:
# GBQ logging
import logging
logger = logging.getLogger('pandas_gbq')
logger.setLevel(logging.DEBUG)
logger.addHandler(logging.StreamHandler())

In [8]:
# GBQ service account connection
credentials=Credentials.from_service_account_file('C:/Users/mncedisi.mncwabe/Documents/Connect to BQ/tal-production-data-4390ad039b75.json')

In [9]:
# import LEGO list of tsins
lego_tsins = pd.read_excel(r'C:/Users/mncedisi.mncwabe/Documents/Toys/lego_brand_toys.xlsx')

### Obtain SOH for Toys - (list of tsins imported)

In [10]:
start_time = time.time()


idproductlist_lego = list(lego_tsins.idProduct.unique())
#convert the list to a tuple
p_lego = tuple(idproductlist_lego)
query2 = '''
SELECT x.PLID, x.TSIN, x.idProduct, x.Title, x.idSupplier, x.SupplierName, x.Division, x.ReportingDepartment, x.Level1,
SUM(x.MP_SOH) AS MP_SOH, SUM(x.RET_SOH) AS RET_SOH, x.BrandName 
FROM (
SELECT bh.idProductLine AS PLID, bh.idTsin AS TSIN, soh.idProduct, bh.Title_Tsin AS Title, sup.idSupplier, sup.SupplierName, 
bh.Division, bh.ReportingDepartment, bh.Level1, bh.BrandName,
CASE 
   WHEN bh.Marketplace=1 THEN soh.stockOnHand 
   ELSE ""
END AS MP_SOH,
CASE 
   WHEN bh.Marketplace=0 THEN soh.stockOnHand 
   ELSE ""
END AS RET_SOH,
soh.stockAvailable AS SA
FROM take2.wms2_products_stock soh
INNER JOIN  supply_chain.business_hierarchy bh
     ON soh.idProduct = bh.idProduct
LEFT JOIN take2.suppliers sup
     ON bh.idSupplier = sup.idSupplier
WHERE bh.ReportingDepartment = 'Toys'
AND soh.idProduct IN {}
GROUP BY PLID, TSIN, Title) x
WHERE x.MP_SOH > 0 OR x.RET_SOH > 0
GROUP BY 1,2,3,6
'''.format(p_lego)

df_soh = pd.read_sql(query2,engine_1)

print("--- %s seconds ---" % (time.time() - start_time))

--- 1.264432668685913 seconds ---

#### Obtain MP Selling price from merchant offer

In [24]:
start_time = time.time()

idproductlist_2 = list(df_soh.TSIN.unique())
#convert the list to a tuple
p2 = tuple(idproductlist_2)
query3 = '''
SELECT tsin_id AS TSIN , selling_price AS MP_Selling_Price, offer_id AS idSellerListing
FROM merchant_offer.offer
WHERE tsin_id IN {}
'''.format(p2)

df_mp_price = pd.read_sql(query3,engine_2)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.45184826850891113 seconds ---

#### Obtain RET Selling price from sku service

In [26]:
start_time = time.time()

idproductlist_3 = list(df_soh.TSIN.unique())
#convert the list to a tuple
p3 = tuple(idproductlist_3)
query4 = '''
SELECT tsin_id AS TSIN, selling_price AS RET_Selling_Price,
weighted_average_cost_price AS WACP
 FROM sku.tsin_pricing
where tsin_id IN {}
'''.format(p3)

df_ret_price = pd.read_sql(query4,engine_3)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.327333927154541 seconds ---

### Obtain Promo deal prices if a PLID is on promotion now or until the next 7 days

In [27]:
start_time = time.time()

idproductlist_4 = list(df_soh.idProduct.unique())
#convert the list to a tuple
p4 = tuple(idproductlist_4)
query5 = '''
SELECT l.product_id AS idProduct, l.deal_price, name AS promo_name, MAX(date_end) AS date_end
FROM deals.promotions b
INNER JOIN deals.promotion_products l
     ON l.promotion_id = b.id
WHERE date_end >= NOW() AND date_end < CURDATE()+7
AND l.product_id IN {}
 GROUP BY idProduct, promo_name
'''.format(p4)

df_promo = pd.read_sql(query5,engine_4)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.9577784538269043 seconds ---

In [28]:
df_final = pd.merge(df_soh, df_mp_price, how='left', on=['TSIN'])

In [29]:
df_final = pd.merge(df_final, df_ret_price, how='left', on=['TSIN'])

In [30]:
df_final = pd.merge(df_final, df_promo, how='left', on=['idProduct'])

### Obtain BuyBox info for the above list of PLIDS

In [32]:
idproductlist_bb = list(df_final.PLID.unique())
#convert the list to a tuple
p5 = tuple(idproductlist_bb)
query_bb = '''
SELECT
       DISTINCT bb_winner.payload.data.product.product_line_id AS PLID,
       CASE 
         WHEN bb_winner.payload.data.product.market_place_listing = true THEN "Marketplace"
         ELSE "Retail"
     END AS buybox_winner,
       bb_winner.payload.data.product.purchase_price AS buybox_winner_price,
       MAX(DATETIME(bb_winner.timestamp,'Africa/Johannesburg')) as buybox_winner_timestamp
  FROM `gcp-takealot.prod_user_tracking.impression_action` AS bb_winner
  WHERE 
   -- 'product_details' contexts contain the buybox winner
     bb_winner.payload.event_timestamp >= "2022-01-20" 
   AND bb_winner.timestamp >= "2022-01-20" 
   AND DATETIME(bb_winner.timestamp,'Africa/Johannesburg') >= '2022-01-19T00:00:00.0000'
   AND DATETIME(bb_winner.timestamp,'Africa/Johannesburg') < '2022-01-21T00:00:00.0000'
   AND bb_winner.payload.context = "product_details"
   AND bb_winner.payload.data.product.market_place_listing IS NOT NULL
   AND bb_winner.payload.data.product.product_line_id IN {}
GROUP BY bb_winner.payload.data.product.product_line_id,
       bb_winner.payload.data.product.purchase_price,
       #bb_winner.payload.event_timestamp,
       bb_winner.payload.data.product.market_place_listing
       #buybox_winner_timestamp
ORDER BY buybox_winner_timestamp DESC
'''.format(p5)
df_bb = pd.read_gbq(query_bb, project_id='gcp-takealot', dialect='standard', credentials=credentials)

Requesting query...
2022-01-21 20:02:00,780 : DEBUG : Requesting query...
Query running...
2022-01-21 20:02:03,307 : DEBUG : Query running...
Job ID: d5a9591b-da70-4fb8-a6a9-c2c0448698a7
2022-01-21 20:02:03,307 : DEBUG : Job ID: d5a9591b-da70-4fb8-a6a9-c2c0448698a7
Query done.
Processed: 2.6 GB Billed: 2.6 GB
2022-01-21 20:02:06,711 : DEBUG : Query done.
Processed: 2.6 GB Billed: 2.6 GB
Standard price: $0.01 USD

2022-01-21 20:02:06,711 : DEBUG : Standard price: $0.01 USD

Got 630 rows.

2022-01-21 20:02:07,826 : DEBUG : Got 630 rows.

Total time taken 7.05 s.
Finished at 2022-01-21 20:02:07.
2022-01-21 20:02:07,826 : INFO : Total time taken 7.05 s.
Finished at 2022-01-21 20:02:07.

In [33]:
df_final_data = pd.merge(df_final, df_bb, how='inner', on=['PLID'])

### Identify whether the idProduct on promotion is a MP or RET product and its deal price

In [34]:
start_time = time.time()

idproductlist_deal = list(df_final_data.idProduct.unique())
#convert the list to a tuple
p_deal = tuple(idproductlist_deal)
query_deal = '''
SELECT idProduct,
    CASE 
        WHEN bh.Marketplace=1 THEN "MP"
        ELSE "RET"
END AS SellerType
 FROM supply_chain.business_hierarchy bh
WHERE idProduct IN {}
'''.format(p_deal)

df_deal = pd.read_sql(query_deal,engine_1)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.3514721393585205 seconds ---

In [35]:
df_final_data = pd.merge(df_final_data, df_deal, how='left', on=['idProduct'])

In [36]:
df_final_data['SellerType_Deal_Price'] = np.where(df_final_data['deal_price'].isnull(), np.nan, df_final_data['SellerType'])

In [37]:
df_final_data = df_final_data.drop('SellerType',axis=1)

### Obtain MP Seller Names

In [41]:
start_time = time.time()

idproductlist_seller = list(df_final_data.TSIN.unique())
#convert the list to a tuple
p_seller = tuple(idproductlist_seller)
query_seller = '''
SELECT sl.idTsin, s.LegalName AS SellerName, sl.idSellerListing
FROM take2.seller_listings sl
INNER JOIN take2.sellers s
   ON s.idSeller = sl.idSeller
WHERE idTsin IN {}
'''.format(p_seller)

df_seller = pd.read_sql(query_seller,engine_1)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.275195837020874 seconds ---

In [43]:
df_final_data = pd.merge(df_final_data, df_seller, how='left', on=['idSellerListing'])

In [47]:
df_final_data = df_final_data.drop(['idSellerListing','idTsin'],axis=1)

### Export

In [49]:
df_final_data.to_csv("C:/Users/mncedisi.mncwabe/Documents/Toys/df_final_vers.csv")