In [6]:
import textract
import PyPDF2
import docx2txt
import docx

from os import listdir
from os.path import isfile, join
from io import StringIO
import pandas as pd
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()
from spacy.matcher import PhraseMatcher
from spacy.pipeline import EntityRuler
from spacy import displacy
import jsonlines

In [40]:
# store resume and job description in a variable
resume = docx2txt.process('C:/Users/mncedisi.mncwabe/Documents/My Documents/My Documents/resume/Mncedisi_Mncwabe_CV.docx')

job_description = docx2txt.process('C:/Users/mncedisi.mncwabe/Documents/My Documents/My Documents/resume/job_description.docx')

In [41]:
#vectors to compare (resume and job description)
text = [resume, job_description]

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
count_matrix = cv.fit_transform(text)

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

# get similarity scores of the resume to the job descrition
  # below means the resume is 74% similar to the job description
print("\nSimilarity Scores")
print(cosine_similarity(count_matrix))

Similarity Scores
[[1.         0.74901043]
 [0.74901043 1.        ]]

In [44]:
match_percentage = round(cosine_similarity(count_matrix)[0][1]*100,2)
print("Your resume matches about " + str(match_percentage)+ "% of the job description.")

Your resume matches about 74.9% of the job description.

In [45]:
# OPTIONAL: Convert Sparse Matrix to Pandas Dataframe to see the word frequencies.
doc_term_matrix = count_matrix.todense()
df = pd.DataFrame(doc_term_matrix, columns=cv.get_feature_names(), index=['resume', 'job_description'])
df.head()

,00,071,15,200,2016,2017,2018,2019,2020,2021,...,workflows,working,would,wrangling,writing,year,years,you,young,your
resume,0,1,0,1,1,1,1,3,3,2,...,1,0,0,0,0,2,0,0,1,0
job_description,1,0,1,1,0,0,1,0,0,0,...,0,6,1,1,1,3,1,11,0,4