In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
email = pd.read_csv('C:/Users/mncedisi.mncwabe/Documents/Practices/emails.csv')

In [26]:
email.head()

                                                text  spam
0  [corporate, identity, lt, is, really, hard, to...     1
1  [gunslinger, fanny, is, merrill, but, muzo, no...     1
2  [made, easy, im, wanting, to, show, you, this,...     1
3  [special, request, additional, information, no...     1
4  [money, get, software, cds, from, here, softwa...     1

In [5]:
email.shape

(5728, 2)

In [6]:
email.isnull().sum()

text    0
spam    0
dtype: int64

In [7]:
email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5728 entries, 0 to 5727
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5728 non-null   object
 1   spam    5728 non-null   int64
dtypes: int64(1), object(1)
memory usage: 89.6+ KB

In [8]:
email.columns

Index(['text', 'spam'], dtype='object')

In [9]:
email.dtypes

text    object
spam     int64
dtype: object

In [10]:
#Using Natural Language Processing to cleaning the text to make one corpus
# Cleaning the texts

import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [15]:
#Every mail starts with 'Subject :' will remove this from each text 

email['text'] = email['text'].map(lambda text: text[1:])

In [16]:
email.head()

                                                text  spam
0  [corporate, identity, lt, is, really, hard, to...     1
1  [gunslinger, fanny, is, merrill, but, muzo, no...     1
2  [made, easy, im, wanting, to, show, you, this,...     1
3  [special, request, additional, information, no...     1
4  [money, get, software, cds, from, here, softwa...     1

In [23]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.naive_bayes import GaussianNB 
from sklearn.naive_bayes import MultinomialNB

In [27]:
X = email.drop('spam',axis=1)
y = email['spam']

In [28]:
# Splitting the dataset into the Training set and Test set

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)

In [29]:
X_train.head()

                                                   text
3223  [thanks, for, the, info, i, shall, check, it, ...
4962  [5, 3, now, available, at, the, new, york, fed...
5146  [competition, vince, and, jeff, who, should, w...
1045  [available, cheap, oem, versions, good, mornin...
4703  [alex, tartakouski, attached, please, find, th...