In [2]:
import streamlit as st
import pandas as pd
import numpy as np
def generate_dummy_data(num_records=100):
    """Generate dummy data for testing purposes."""
    np.random.seed(42)
    data = {
        "full_name": [f"Candidate {i}" for i in range(1, num_records + 1)],
        "country": np.random.choice(["USA", "UK", "Canada", "Australia", "Germany", "France", "Japan", "India", "Brazil", "South Africa"], num_records),
        "country_full_name": np.random.choice(["United States", "United Kingdom", "Canada", "Australia", "Germany", "France", "Japan", "India", "Brazil", "South Africa"], num_records),
        "province": np.random.choice(["California", "Texas", "New York", "Florida", "Ontario", "Quebec", "New South Wales", "Victoria", "Bavaria", "Hesse", "Île-de-France", "Provence-Alpes-Côte d'Azur", "Tokyo", "Osaka", "Maharashtra", "Karnataka", "São Paulo", "Rio de Janeiro", "Gauteng", "Western Cape"], num_records),
        "city": np.random.choice(["New York", "Los Angeles", "Chicago", "Houston", "London", "Manchester", "Toronto", "Vancouver", "Sydney", "Melbourne", "Berlin", "Munich", "Paris", "Lyon", "Tokyo", "Osaka", "Mumbai", "Bangalore", "São Paulo", "Rio de Janeiro", "Johannesburg", "Cape Town"], num_records),
        "personal_emails": [f"candidate{i}@example.com" for i in range(1, num_records + 1)],
        "personal_numbers": [f"+123456789{i}" for i in range(1, num_records + 1)],
        "URL": [f"https://www.linkedin.com/in/candidate{i}" for i in range(1, num_records + 1)],
        "gender": np.random.choice(["Male", "Female", "Other"], num_records),
        "headline": np.random.choice(["Software Engineer", "Data Scientist", "Product Manager", "Marketing Specialist", "Financial Analyst", "HR Manager", "Sales Executive", "Graphic Designer", "Project Manager", "Consultant"], num_records),
        "summary": ["Summary for " + f"Candidate {i}" for i in range(1, num_records + 1)],
        "industry": np.random.choice(["Technology", "Finance", "Healthcare", "Education", "Retail", "Manufacturing", "Hospitality", "Construction", "Transportation", "Media"], num_records),
        "experiences": ["Experience for " + f"Candidate {i}" for i in range(1, num_records + 1)],
        "education": ["Education for " + f"Candidate {i}" for i in range(1, num_records + 1)],
        "skills": ["Skill1, Skill2, Skill3" for i in range(1, num_records + 1)],
        "certifications": ["Certification for " + f"Candidate {i}" for i in range(1, num_records + 1)],
        "languages": np.random.choice(["English", "Spanish", "French", "German", "Japanese", "Mandarin", "Hindi", "Portuguese", "Russian", "Arabic"], num_records)
    }
    return pd.DataFrame(data)

data = generate_dummy_data()
data

,full_name,country,country_full_name,province,city,personal_emails,personal_numbers,URL,gender,headline,summary,industry,experiences,education,skills,certifications,languages
0,Candidate 1,Japan,United Kingdom,Île-de-France,Chicago,candidate1@example.com,+1234567891,https://www.linkedin.com/in/candidate1,Male,Sales Executive,Summary for Candidate 1,Education,Experience for Candidate 1,Education for Candidate 1,"Skill1, Skill2, Skill3",Certification for Candidate 1,Mandarin
1,Candidate 2,Australia,United States,Karnataka,Sydney,candidate2@example.com,+1234567892,https://www.linkedin.com/in/candidate2,Other,Graphic Designer,Summary for Candidate 2,Healthcare,Experience for Candidate 2,Education for Candidate 2,"Skill1, Skill2, Skill3",Certification for Candidate 2,Japanese
2,Candidate 3,India,Japan,Karnataka,London,candidate3@example.com,+1234567893,https://www.linkedin.com/in/candidate3,Other,Sales Executive,Summary for Candidate 3,Healthcare,Experience for Candidate 3,Education for Candidate 3,"Skill1, Skill2, Skill3",Certification for Candidate 3,Russian
3,Candidate 4,Germany,Japan,California,Mumbai,candidate4@example.com,+1234567894,https://www.linkedin.com/in/candidate4,Male,Financial Analyst,Summary for Candidate 4,Education,Experience for Candidate 4,Education for Candidate 4,"Skill1, Skill2, Skill3",Certification for Candidate 4,English
4,Candidate 5,Japan,India,Bavaria,Lyon,candidate5@example.com,+1234567895,https://www.linkedin.com/in/candidate5,Female,Software Engineer,Summary for Candidate 5,Transportation,Experience for Candidate 5,Education for Candidate 5,"Skill1, Skill2, Skill3",Certification for Candidate 5,Hindi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Candidate 96,South Africa,India,São Paulo,Vancouver,candidate96@example.com,+12345678996,https://www.linkedin.com/in/candidate96,Other,Consultant,Summary for Candidate 96,Manufacturing,Experience for Candidate 96,Education for Candidate 96,"Skill1, Skill2, Skill3",Certification for Candidate 96,Hindi
96,Candidate 97,Brazil,Germany,São Paulo,Paris,candidate97@example.com,+12345678997,https://www.linkedin.com/in/candidate97,Male,Financial Analyst,Summary for Candidate 97,Manufacturing,Experience for Candidate 97,Education for Candidate 97,"Skill1, Skill2, Skill3",Certification for Candidate 97,French
97,Candidate 98,Japan,Australia,Provence-Alpes-Côte d'Azur,Johannesburg,candidate98@example.com,+12345678998,https://www.linkedin.com/in/candidate98,Other,HR Manager,Summary for Candidate 98,Healthcare,Experience for Candidate 98,Education for Candidate 98,"Skill1, Skill2, Skill3",Certification for Candidate 98,Hindi
98,Candidate 99,Brazil,United Kingdom,Osaka,New York,candidate99@example.com,+12345678999,https://www.linkedin.com/in/candidate99,Female,Financial Analyst,Summary for Candidate 99,Finance,Experience for Candidate 99,Education for Candidate 99,"Skill1, Skill2, Skill3",Certification for Candidate 99,Spanish
99,Candidate 100,India,France,Quebec,Osaka,candidate100@example.com,+123456789100,https://www.linkedin.com/in/candidate100,Male,Financial Analyst,Summary for Candidate 100,Technology,Experience for Candidate 100,Education for Candidate 100,"Skill1, Skill2, Skill3",Certification for Candidate 100,Arabic